.home-wrap {
  background: #f3f4f6;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  padding-bottom: 40px;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 30px; 
}


.top-nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 18px 40px;
  background: white;
  border-bottom: 1px solid #e5e7eb;
}


.logo {
  font-size: 1.4rem;
  font-weight: 700;
}

.nav-links a {
  margin-right: 20px;
  color: #111;
  text-decoration: none;
  font-size: 1.1rem;
}

.profile-icon {
  font-size: 2rem;
  cursor: pointer;
}

.welcome-box {
  background: #e5e7eb;
  padding: 32px;
  border-radius: 20px;
  margin: 32px 40px;
}

.welcome-box h1 {
  margin: 0 0 10px 0;
  font-size: 1.8rem;
  font-weight: 700;
}

.section-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  margin-top: 20px;
}

.section-head h2 {
  font-size: 1.6rem;
  font-weight: 700;
}

.see-all {
  color: #2563eb;
  font-weight: 600;
  font-size: 1.1rem;
  text-decoration: none;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px 60px;
  margin-top: 10px;
}

.card {
  width: 320px;
  background: white;
  padding: 0; 
  border-radius: 22px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
  text-align: center;
  overflow: hidden;
}

.card-title-section {
  padding: 24px;
  border-radius: 22px 22px 0 0;
}

.event-title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0;
  color: white; 
}

.muted {
  color: #555;
  font-size: 0.95rem;
  margin-top: 20px;
  margin-bottom: 6px;
}

.location {
  color: #444;
  font-size: 0.95rem;
  margin-bottom: 20px;
}

.btn {
  display: block;
  width: 80%;
  margin: 0 auto 30px;
  padding: 14px 0;
  background: #2563eb;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}
